body {
	background-color: #1F1F1F;
	color: #CFCFCF;
	border: 5px solid #FF4444;
	margin: 5px;
	font-size: 2em;
}

h1 {
	text-align: center;
}

a {
	color: #CFCFCF;
	text-decoration: none;
}

a:hover {
	color: #FDFF68;
}

#texto-naranja {
	color: #FF9D46;
}

video {
	margin: 3% 0% 3% 6%;
	width: 25%;
	height: 25%;
}